extends layouts/app 

block seo 
  title How To Contact CodingPhase
  meta(property='og:title', content='CodingPhase - Learn To Code and Get Paid ASAP!')
  meta(name='description', content='Learn how to code from the best platform by building real projects that will help you land the dream job and get a high paying salary')
  meta(property='og:description', content='Learn how to code from the best platform by building real projects that will help you land the dream job and get a high paying salary')
  meta(property='og:image', content='https://codingphase.com/img/websitethumb.png')
  meta(name='twitter:card', content='summary_large_image')
  meta(property='og:site_name', content='CodingPhase LLC')
  meta(name='twitter:image:alt', content='Learn how to code from one of the best platforms online.')
  meta(name='twitter:site', content='@codingphase')
  meta(property='og:url', content='https://codingphase.com')
  link(rel="canonical" href="https://codingphase.com/contact")

block content
  #contact-page
    .container
      .content
        h1 Contact Us
        h3 Help with courses
        a(href="mailto:support@codingphase.com") support@codingphase.com
        h3 For problems with payment, want a refund, or any other question.
        a(href="mailto:admin@codingphase.com") admin@codingphase.com
        a(href="https://student.codingphase.com/p/refund-policy") Visit the Refund Policy before asking for a refund


  //- script(src='/js/dist/vendors~FirstComp.js')
  //- script(src='/js/dist/FirstComp.js')