#blog-page {
  padding: 56px 0 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;

  h1 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .grid {
    display: grid;
    grid-template-columns: calc(100% - 400px) 400px;
  }

  .content-area {
    background: #fff;
    padding: 20px;
  }

  .side-bar {
    background: #252836;
    color: #bbe482;
    padding: 20px;
    min-height: calc(100vh - 56px);
    max-width: 400px;
  }

  &.all-posts {
    .post-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;

      .post {
        padding: 20px;

        a {
          &:hover {
            color: red;
          }
        }

        img {
          // max-width: 300px;
          width: 100%;
          display: block;
          margin-bottom: 1rem;
        }

        h3 {
          font-size: 2rem;
          font-weight: 700;
          margin-bottom: 1rem;
        }
      }
    }
  }

  &.single-post {
    .profile {
      display: flex;
      margin-bottom: 1.5rem;

      .author {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
      }

      .date {
        border-left: 1px solid #cccccc;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        color: #cccccc;
      }
    }

    p {
      margin-bottom: 2rem;
    }

    iframe {
      margin-bottom: 2rem;
    }

    code[class*='language-'],
    pre[class*='language-'] {
      // background: #2a2673;
    }

    pre[class*='language-'] {
      border-radius: 5px;
      margin-bottom: 2rem;
    }
  }
}
//extra small
@media only screen and (max-width: 575px) {
  #blog-page {
    .grid {
      display: grid;
      grid-template-columns: 100%;
    }

    .side-bar {
      width: 100%;
      min-height: auto;
      max-width: none;
    }
  }
}
//small
@media only screen and (min-width: 576px) and (max-width: 767px) {
  #blog-page {
    .grid {
      display: grid;
      grid-template-columns: 100%;
    }

    .side-bar {
      width: 100%;
      min-height: auto;
      max-width: none;
    }
  }
}
//tablet
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #blog-page {
    .grid {
      display: grid;
      grid-template-columns: 100%;
    }

    .side-bar {
      width: 100%;
      min-height: auto;
      max-width: none;
    }
  }
}
//laptops
@media only screen and (max-width: 1199px) {}
//desktops
@media only screen and (min-width: 1200px) {}