#blog-page {
  padding: 100px 0;
  h1 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .grid {
    display: grid;
    grid-template-columns: 80% 20%;
  }
  .content-area {
    background: #fff;
    padding: 20px;
  }
}
