#contact-page{
  margin-top: 86px;
  .content{
    background: white;
    padding: 20px;
  }
  h1{
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  h3{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  a{
    font-size: 1;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: red;
  }

}