* {
  box-sizing: border-box;
}

#lead-free-download {
  .jumbo {
    background: linear-gradient(45deg, #0455ff 1%, #ef37ee) !important;
    min-height: 100vh;

    h2 {
      font-size: 2rem;
      font-weight: 700;
      color: white;
      margin-bottom: 1.2rem;
    }

    h3 {
      font-size: 1.7rem;
      font-weight: 500;
      color: white;
      margin-bottom: 1.2rem;
    }

    p {
      color: white;
      line-height: 1.5;
      margin-bottom: 1.2rem;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      &.thank-you {
        grid-template-columns: 1fr !important;
        grid-gap: 20px;
        a {
          color: rgb(112, 252, 163);
        }
      }
    }

    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      flex-direction: column;

      img {
        // max-width: 300px;
        width: 100%;
        margin-bottom: 20px;
      }

      h3 {
        text-align: center;
      }

      .logos {
        display: flex;
        justify-content: center;
        max-width: 400px;
      }
    }

    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 100vh;
      form {
        width: 100%;
        .form-group {
          display: flex;
          width: 100%;
          display: block;
          margin-bottom: 1rem;
        }
        label {
          display: block;
          color: white;
          font-weight: 700;
        }
        input[type='text'] {
          display: block;
          font-size: 1.3rem;
          padding: 10px;
          margin-bottom: 1rem;
          width: 100%;
          max-width: 500px;
        }
        button[type='submit'] {
          display: block;
        }
      }
    }
  }

  .form-popup {
    background: rgba(0, 0, 0, 0.9);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;

    &.active {
      display: flex;
    }

    .popup-container {
      width: 500px;
      padding: 20px;
      background: white;
      border-radius: 5px;

      p {
        margin-bottom: 20px;
        text-align: center;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
          width: 100%;
          max-width: 300px;
          padding: 12px 10px;
          margin-bottom: 20px;
        }

        button {
          border: none;
          border-radius: 5px;
          background: blue;
          color: white;
          padding: 12px 10px;
          font-size: 1rem;
          text-align: center;
          width: 100%;
          max-width: 200px;
          margin-bottom: 20px;
        }

        .policy {
          font-size: 0.8rem;
        }
      }
    }
  }

  .button {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
  }
}
//extra small
@media only screen and (max-width: 575px) {
  #lead-free-download {
    .jumbo {
      .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        &.thank-you {
          h2 {
            margin-top: 2rem;
          }
        }
      }

      h2,
      h3 {
        text-align: center;
      }

      .image {
        // img {
        //   display: none;
        // }
      }

      .image,
      .info {
        min-height: auto;
      }
    }
  }
}
//small
@media only screen and (min-width: 576px) and (max-width: 767px) {
}
//tablet
@media only screen and (min-width: 768px) and (max-width: 991px) {
}
//laptops
@media only screen and (max-width: 1199px) {
}
//desktops
@media only screen and (min-width: 1200px) {
}
