header
  div(class='logo')
    a(href='/') CodingPhase.com
  div(class='menu')
    a(href='/reviews') Reviews
    a(href='https://student.codingphase.com/courses') All Courses
    a(href='/timeline') Timeline
    a(href='https://www.devoutlet.com', target='new')
      | Store
    a(href='https://discordapp.com/invite/weTKutq') Chat
    a(href='https://student.codingphase.com/courses/enrolled')
      | My Courses
    #hamburger-icon(title='Menu', class='')
      span(class='line line-1')
        span(class='line line-2')
          span(class='line line-3')
#mobileMenu
  a(href='/testimonials') Reviews
  a(href='/courses') All Courses
  a(href='/timeline') Timeline
  a(href='/blog') Blog
  a(href='https://www.devoutlet.com', target='new')
    | Store
  a(href='https://discordapp.com/invite/weTKutq') Chat
  a(href='https://codingphase.teachable.com/courses/enrolled')
    | My Courses
  |           {/* 
  link(to='/contact')
  | Contact */}