header
  div(class='logo')
    a(href='/') CodingPhase.com
  div(class='menu')
    a(href='https://fresh.codingphase.com/') Blog
    a(href='/reviews/index.html') Reviews
    a(href='https://student.codingphase.com/courses') All Courses
    a(href='/timeline/index.html') Timeline
    a(href='https://www.devoutlet.com', target='new')
      | Gear
    a(href='https://discordapp.com/invite/weTKutq') Chat
    a(href='https://student.codingphase.com/courses/enrolled')
      | My Courses
    a(href='https://www.codingphase.com/contact') Contact
    a(href='/affiliate') Become an Affiliate
    #hamburger-icon(title='Menu', class='')
      span(class='line line-1')
      span(class='line line-2')
      span(class='line line-3')
#mobileMenu
  a(href='https://fresh.codingphase.com/') Blog
  a(href='/reviews/index.html') Reviews
  a(href='https://student.codingphase.com/courses') All Courses
  a(href='/timeline/index.html') Timeline
  a(href='/blog') Blog
  a(href='https://www.devoutlet.com', target='new') Gear
  a(href='https://discordapp.com/invite/weTKutq') Chat
  a(href='https://codingphase.teachable.com/courses/enrolled') My Courses
  a(href='https://www.codingphase.com/contact') Contact