extends ../layouts/app 

block seo 
  title Is CodingPhase Legit? Check the Reviews
  meta(property='og:title', content='Is CodingPhase Legit? Check the Reviews')
  meta(name='description', content='Is this platform for you? the best way to know is to actually check the testimonials of the students')
  meta(property='og:description', content='Is this platform for you? the best way to know is to actually check the testimonials of the students')
  meta(property='og:image', content='https://codingphase.com/img/websitethumb.png')
  meta(name='twitter:card', content='summary_large_image')
  meta(property='og:site_name', content='CodingPhase LLC')
  meta(name='twitter:image:alt', content='Is this platform for you? the best way to know is to actually check the testimonials of the students')
  meta(name='twitter:site', content='@codingphase')
  meta(property='og:url', content='https://codingphase.com/reviews')
  link(rel="canonical", href="https://codingphase.com/reviews")

block content
  section#testimonials-page
    div(class='content-area')
      div(class='container')
        div(class='tweets')
          h1 Tweets
          div(class='tweet')
            blockquote.twitter-tweet(data-lang='en')
              p(lang='en', dir='ltr')
                | If you’re trying to become a web developer you should
                | DEFINITELY be following{' '}
                a(href='https://twitter.com/codingphase?ref_src=twsrc%5Etfw')
                  | @codingphase
                | {' '}
                |                   . This man is the real deal.
              |                 — Cenecia Lattimore (@cenecia_l){' '}
              a(href='https://twitter.com/cenecia_l/status/1115938209651990528?ref_src=twsrc%5Etfw')
                | April 10, 2019
          div(class='tweet')
            blockquote(class='twitter-tweet', data-lang='en')
              p(lang='en', dir='ltr')
                | Nobody is telling the truth like Joe
              |                 — Hashim Warren (@hashim_warren){' '}
              a(href='https://twitter.com/hashim_warren/status/1118826285608861696?ref_src=twsrc%5Etfw')
                | April 18, 2019
          div(class='tweet')
            blockquote.twitter-tweet(data-lang='en')
              p(lang='en', dir='ltr')
                a(href='https://twitter.com/codingphase?ref_src=twsrc%5Etfw')
                  | @codingphase
                | {' '}
                |                   Is an excellent mentor to all of his subscribers. He helps to
                |                   keep me going. He'll have subscribers in his google
                |                   hangouts occasionally.
              |                 — Justin the Dev (@JustintheDev1){' '}
              a(href='https://twitter.com/JustintheDev1/status/1114201114772156416?ref_src=twsrc%5Etfw')
                | April 5, 2019
          div(class='tweet')
            blockquote.twitter-tweet(data-lang='en')
              p(lang='en', dir='ltr')
                | Joe, I first learned Laravel through your Udemy course while
                | was in college. I got my first job using Laravel, 5 months
                | later.
              |                 — Andre MacNamara (@andremacnamara){' '}
              a(href='https://twitter.com/andremacnamara/status/1113936448649142272?ref_src=twsrc%5Etfw')
                | April 4, 2019
          div(class='tweet')
            blockquote.twitter-tweet(data-lang='en')
              p(lang='en', dir='ltr')
                | It's official, I am a lifetime member and lifetime learner
                | at{' '}
                a(href='https://twitter.com/codingphase?ref_src=twsrc%5Etfw')
                  | @codingphase
                | {' '}
                |                   , Thanks Joe for all that you do.{' '}
                a(href='https://t.co/h5cz5QKbc6')
                  | pic.twitter.com/h5cz5QKbc6
              |                 — 💻 Donovan 📱 (@browncdonovan){' '}
              a(href='https://twitter.com/browncdonovan/status/1112046142437642240?ref_src=twsrc%5Etfw')
                | March 30, 2019
          div(class='tweet')
            blockquote.twitter-tweet(data-lang='en')
              p(lang='en', dir='ltr')
                | Making my way through the{' '}
                a(href='https://twitter.com/codingphase?ref_src=twsrc%5Etfw')
                  | @codingphase
                | {' '}
                |                   HTML email course. Having a lot of fun learning this. It can
                |                   get confusing, but the course has helped keep that under
                |                   control. So many tables!
                br
                |                   365CodingPhaseChallenge Day 141
              |                 — David Frost (@dmfrost7){' '}
              a(href='https://twitter.com/dmfrost7/status/1104604625309712384?ref_src=twsrc%5Etfw')
                | March 10, 2019
          div(class='tweet')
            blockquote.twitter-tweet(data-lang='en')
              p(lang='en', dir='ltr')
                | Guys make sure to subscribe to{' '}
                a(href='https://twitter.com/codingphase?ref_src=twsrc%5Etfw')
                  | @codingphase
                |                   !{' '}
                a(href='https://t.co/zoqjjovCeK') https://t.co/zoqjjovCeK
              |                 — Sami3t (@Sami3t){' '}
              a(href='https://twitter.com/Sami3t/status/1103029063587954690?ref_src=twsrc%5Etfw')
                | March 5, 2019
          div(class='tweet')