extends ../layouts/app 

block seo 
  title Timeline Of How Long Will It Take You To Learn To Code
  meta(property='og:title', content='Timeline - How Long Will It Take Me To Learn To Code')
  meta(name='description', content='This is the page that will give you a clear pathway on what courses to take to learn to code and get a job ASAP.')
  meta(property='og:description', content='This is the page that will give you a clear pathway on what courses to take to learn to code and get a job ASAP.')
  meta(property='og:image', content='https://codingphase.com/img/websitethumb.png')
  meta(name='twitter:card', content='summary_large_image')
  meta(property='og:site_name', content='CodingPhase LLC')
  meta(name='twitter:image:alt', content='Timeline - How Long Will It Take Me To Learn To Code')
  meta(name='twitter:site', content='@codingphase')
  meta(property='og:url', content='https://codingphase.com/timeline')
  link(rel="canonical", href="https://codingphase.com/timeline")

block content
  section#timeline-page
    div(class='content-area')
      div(class='container')
        h1 Instructions
        div(class='legend')
          p
            | Follow this timeline to become a fullstack developer. All courses
            | are in order but you will notice that there's icons before the
            | name of each course.
            span(role='img', aria-label='required')
            | 🖥️ The computer means it's required for your to take. Now the
            span(role='img', aria-label='required')
            | 📗 green book means its an elective course which is optional. I do recommend for you guys to take all the courses but for example if you are comfortable enough with a topic and feel you don't need to the projects then thats your choice to make.
        div(class='adspot')
          adsense
        h1 Front End Developer
        ul(class='timeline')
          li
            div(class='direction-l')
              div(class='flag-wrapper')
                a(href='/timeline', class='flag title')
                  | TOOLS
              div(class='desc')
          
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                a(href='https://student.codingphase.com/courses/enrolled/328397', class='flag')
                  span(role='img', aria-label='required')
                    | 🖥️ All Installations You Will Need
              div(class='desc')
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                a(href='https://student.codingphase.com/courses/enrolled/204451', class='flag')
                  span(role='img', aria-label='required')
                    | 🖥️ Terminal For Developers
              div(class='desc')
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                a(href='https://student.codingphase.com/courses/enrolled/191709', class='flag')
                  span(role='img', aria-label='required')
                    | 🖥️ Text Editors 101
              div(class='desc')
          li
            div(class='direction-l')
              div(class='flag-wrapper')
                a(href='/timeline', class='flag title')
                  | HTML & CSS
              div(class='desc')
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                a(href='https://student.codingphase.com/courses/enrolled/190248', class='flag')
                  span(role='img', aria-label='required')
                    | 🖥️ Learn HTML and CSS
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                a(href='https://student.codingphase.com/courses/enrolled/540733', class='flag')
                  span(role='img', aria-label='required')
                    | 🖥️ Git Like A Pro
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/204463')
                    span(role='img', aria-label='required')
                      | 📗 Build a ResponsiveWeb App
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/349237')
                    span(role='img', aria-label='required')
                      | 📗 Responsive HTML Emails
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/269287')
                    span(role='img', aria-label='required')
                      | 🖥️ CSS Animations
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/253829')
                    span(role='img', aria-label='required')
                      | 🖥️ Advance CSS with Flexbox and Grid
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/212881')
                    span(role='img', aria-label='required')
                      | 🖥️ Sass Like a Pro
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/336889')
                    span(role='img', aria-label='required')
                      | 🖥️ How to deploy your site
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/360152')
                    span(role='img', aria-label='required')
                      | 🖥️ Web Developer Personal Brand
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/326322')
                    span(role='img', aria-label='required')
                      | 📗 Build A Music Site
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/444849')
                    span(role='img', aria-label='required')
                      | 📗 Build a VCard
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/219318')
                    span(role='img', aria-label='required')
                      | 📗 Build a Dashboard
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/265655')
                    span(role='img', aria-label='required')
                      | 📗 Build a Web Developer Portfolio
              div(class='desc') 
          li
            div(class='direction-l')
              div(class='flag-wrapper')
                span(class='flag title') Javascript
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/191705')
                    span(role='img', aria-label='required')
                      | 🖥️ Future Proof Javascript
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                a(href='https://student.codingphase.com/courses/enrolled/545465', class='flag')
                  span(role='img', aria-label='required')
                    | 🖥️ Debuggin Like A Pro
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/235002')
                    span(role='img', aria-label='required')
                      | 🖥️ Object Oriented Programming
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/191707')
                    span(role='img', aria-label='required')
                      | 🖥️ JQuery
              div(class='desc')
          
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                a(href='https://student.codingphase.com/courses/enrolled/476145', class='flag')
                  span(role='img', aria-label='required')
                    | 🖥️ Node and NPM Basics
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/286837')
                    span(role='img', aria-label='required')
                      | 🖥️ Gulp
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/220444')
                    span(role='img', aria-label='required')
                      | 📗 Pug JS - Template Engine
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/213303')
                    span(role='img', aria-label='required')
                      | 🖥️ ESNEXT - ES6, ES7, ES8
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/209089')
                    span(role='img', aria-label='required')
                      | 🖥️ HyperApp
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/229814')
                    span(role='img', aria-label='required')
                      | 📗 Build a Restaurant Web App
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/215976')
                    span(role='img', aria-label='required')
                      | 🖥️ React - Quick and Easy
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/495115')
                    span(role='img', aria-label='required')
                      | 🖥️ Redux - The Easy Way Course
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/287476')
                    span(role='img', aria-label='required')
                      | 📗 Learn React by building a craigslist clone
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/335280')
                    span(role='img', aria-label='required')
                      | 📗 Polymer 3
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/255444')
                    span(role='img', aria-label='required')
                      | 📗 How web developers make passive income
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/459871')
                    span(role='img', aria-label='required')
                      | 📗 Phaser 3 - Javascript Games
              div(class='desc')
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                span(class='flag')
                  a(href='https://student.codingphase.com/courses/enrolled/459871')
                    span(role='img', aria-label='required')
                      | 📗 Phaser 3 - Javascript Games
              div(class='desc')
        div(class='adspot')
          adsense 
        h1 Back End Developer
        ul(class='timeline') 
          li
            div(class='direction-l')
              div(class='flag-wrapper')
                a(href='/', class='flag title')
                  | Databases
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                a(href='https://student.codingphase.com/courses/enrolled/412709', class='flag')
                  span(role='img', aria-label='required')
                    | 🖥️ MYSQL
              div(class='desc') 
          li
            div(class='direction-l')
              div(class='flag-wrapper')
                a(href='/timeline', class='flag title')
                  | Javascript
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                a(href='https://student.codingphase.com/courses/enrolled/302905', class='flag')
                  span(role='img', aria-label='required')
                    | 🖥️ Node - Adonis JS Framework
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                a(href='https://student.codingphase.com/courses/enrolled/479516', class='flag')
                  span(role='img', aria-label='required')
                    | 📗 E-commerce Site with Node
              div(class='desc') 
          li
            div(class='direction-l')
              div(class='flag-wrapper')
                a(href='/timeline', class='flag title')
                  | PHP
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                a(href='https://student.codingphase.com/courses/enrolled/235851', class='flag')
                  span(role='img', aria-label='required')
                    | 🖥️ PHP 7 and Laravel
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                a(href='https://student.codingphase.com/courses/enrolled/387832', class='flag')
                  span(role='img', aria-label='required')
                    | 🖥️ Wordpress course
              div(class='desc') 
          li
            div(class='direction-l')
              div(class='flag-wrapper')
                a(href='/timeline', class='flag title')
                  | Crystal
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                a(href='https://student.codingphase.com/courses/enrolled/394035', class='flag')
                  span(role='img', aria-label='required')
                    | 🖥️ Crystal Programming Language
              div(class='desc') 
          li
            div(class='direction-l')
              div(class='flag-wrapper')
                a(href='/timeline', class='flag title')
                  | Ruby
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                a(href='https://student.codingphase.com/courses/enrolled/261619', class='flag')
                  span(role='img', aria-label='required')
                    | 🖥️ Ruby Programming Language
              div(class='desc') 
          li
            div(class='direction-r')
              div(class='flag-wrapper')
                a(href='https://student.codingphase.com/courses/enrolled/272602', class='flag')
                  span(role='img', aria-label='required')
                    | 🖥️ Ruby on Rails
              div(class='desc')
        div(class='adspot')
          adsense
